body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    margin: 0;
}


section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 20%;
}

.flex-element {
    text-align: left;
}

h1 {
    font-family: Georgia, serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}