* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}

table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid black;
}

th {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: left;
    border: 2px solid black;
}

td {
    padding: 10px;
    border: 2px solid black;
}

tbody tr:nth-child(odd) {
    background-color: rgb(220, 220, 220);
}

@media screen and (max-width: 600px) {
    table {
        display: table;
        overflow-x: auto;
        width: 90%;
    }
    th,td{
        font-size: 12px;
    }
}