body {
    font-family: Arial, sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

header {
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

nav a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: green;
    font-weight: bold;
}

nav a:hover {
    color: #007BFF;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px solid #000000;
}

main {
    padding: 20px;
}

.site-title {
    color: #333;
    font-size: 40px;
    font-weight: bold;
}


h1 {
    color: #333;
}

p {
    line-height: 1.6;
    margin: 15px 0;
}